.file-item {
  position: relative;
  display: flex;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  min-width: 100px;
  cursor: pointer;
  user-select: none;
  padding: 0.4rem 3rem 0.4rem calc(1rem - 2px);
  text-decoration: none;
  border-left: 2px solid transparent;
  .file-icon{
    width: 16px;
    height: 16px;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    vertical-align: top;
    flex-shrink: 0;
  }
  .file-title-container{
    margin-left: 5px;
    .file-title-input{
      background: transparent;
      outline: none;
      border: none;
    }
  }
  &:hover, &.active{
    color: #fff;
  }
  .file-control{
    position: absolute;
    right: 20px;
    transform: translate(0, -50%);
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: right;
    color: rgba(255, 255, 255, 0.5);
    .file-control-item{
      width: 16px;
      height: 16px;
      margin-left: 5px;
      &:hover{
        color: #fff;
      }
    }
  }
}