.preview-container{
  flex: 1 1 0%;
  min-width: 100px;
  .ant-tabs-content{
    height: 100%;
  }
  .ant-tabs{
    height: 100%;
  }
  .monaco-editor-tab{
    position: relative;
    display: flex;
    align-items: center;
    transition: color 0.2s ease 0s;
    padding: 0px 1.75rem 0px 1.25rem;
    border-right: none;
    a{
      color: inherit;
    }
  }
  .dev-tools-container{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}