.icon{
  width: 16px;
  height: 16px;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  vertical-align: top;
  flex-shrink: 0;
  background-position: 0px center;
  background-repeat: no-repeat;
}